$body-bg-color:#EDE9FE;
$nav-bg-color:#3e206d;
$nav-text-color:#ffffff;
$nav-bg-hover-color:#5B21B6;
$post-primary-bg-color:#ffffff;
$post-secondary-bg-color:#f7f7f7;
$post-title-color:#B45309;
$post-body-color:#4B5563;
$post-button-primary-bg-color:#7C3AED;
$post-button-primary-hover-bg-color:#4C1D95;
$edit-button-hover:#DDD6FE;
$profile-hero-color:#6D28D9;
$profile-primary-hero-text:#54e346;
$profile-secondary-hero-text:#FCD34D;
